@charset "UTF-8";

.all-freeboard{
	background-color: white;
}
h2{
	margin-left: 13%;
	margin-top: 5%;
}
.freeboardWrite-table {
	width:75%;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: none;
	border-collapse: collapse;
	margin-left: 13%;
	margin-top: 2%;
	margin-bottom: 2%;
	position: relative;
	background-color: white ;
	
}

textarea {
    width: 100%;
    height: 40em;
    border: none;
    resize: none;
  }
  
.board-title-tr{
	height: 2em;
	border-top: none;
	border-right: none;
	border-left: none;
}
#board_title{
	width:100%;
	border: none;
    resize: none;
    border-top: none;
    border-left: none;
	border-right: none;
}
.board-title{
	width:10%
	border-top: none;
	border-left: none;
	border-right: none;
}
.board-title-td{
	border-right: none;
}

.board-cont-td{
	border-right: none;
}
.board-cont{
	width:10%;
	border-top: none;
	border-left: none;
	border-right: none;
}
#board_cont{
	border-right: none;
	border-top: none;
	border-left: none;
	border-right: none;
}
.board-image{
	width:10%;
	border-top: none;
	border-left: none;
	border-right: none;
	height: 2em;
}

.board-image-td{
	border-rithg: none;
	border-right: none;
	
}

.write-btn{
	border-bottom: none;
	margin-left: 78%;
	margin-bottom: 2%;
}
.btn{
	border-left: none;
	border-right: none;
}




